/*==============================
    CENTER PANEL
==============================*/

.robot-panel{

    position:relative;

    width:500px;
    height:650px;

    margin:auto;

    overflow:visible;

    display:flex;
    justify-content:center;
    align-items:center;

}


/*==============================
        BODY
==============================*/

.robot-body{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%) scale(.82);


    width:580px;   /* Change this value */
    height:550px;

    object-fit:contain;

    z-index:20;

    pointer-events:none;

}


/*==============================
        HEAD
==============================*/

.robot-head{

    position:absolute;

    left:50%;
   margin-top:420px ;

     width:380px;   
    height:350px;
     

    transform:
        translate(-50%, -50%)
        translateY(-120px);

    z-index:30;

    pointer-events:none;

}