/*=========================
CENTER
=========================*/

.login-center{

position:relative;

display:flex;

justify-content:center;

align-items:flex-end;

width:500px;

height:650px;

overflow:visible;

}


/*=========================
ROBOT
=========================*/

.ai-bot{

position:absolute;

bottom:170px;

display:flex;

flex-direction:column;

align-items:center;

animation:floatBot 4s ease-in-out infinite;

z-index:20;

}


/*=========================
BOT IMAGE
=========================*/

.bot-image{

width:230px;

filter:

drop-shadow(0 0 12px #38bdf8)

drop-shadow(0 0 35px #38bdf8)

drop-shadow(0 0 70px rgba(56,189,248,.8));

}

/*=========================
SPEECH
=========================*/

.speech{

margin-top:18px;

padding:18px 30px;

border-radius:25px;

background:

rgba(8,25,70,.22);

backdrop-filter:blur(12px);

border:2px solid rgba(56,189,248,.7);

box-shadow:

0 0 12px #38bdf8,

0 0 30px rgba(56,189,248,.55),

inset 0 0 18px rgba(56,189,248,.15);

text-align:center;

animation:pulseBox 2s infinite;

}


.speech h2{

font-size:32px;

font-family:Orbitron;

color:#7de9ff;

letter-spacing:3px;

margin-bottom:10px;

text-shadow:

0 0 10px cyan,

0 0 30px cyan;

}


.speech p{

font-size:18px;

color:white;

opacity:.95;

}
/*=========================
BEAM
=========================*/

.beam{

position:absolute;

bottom:80px;

width:170px;

height:310px;

background:

linear-gradient(

180deg,

rgba(0,255,255,.70),

rgba(0,255,255,.22),

transparent

);

clip-path:polygon(

48% 0,

52% 0,

100% 100%,

0 100%

);

filter:blur(18px);

animation:beamPulse 2s infinite;

}


/*=========================
PROJECTOR
=========================*/

.projector-floor{

position:absolute;

bottom:0;

width:320px;

height:90px;

border-radius:50%;

background:

radial-gradient(

ellipse,

rgba(0,255,255,.95),

rgba(56,189,248,.45),

transparent 75%

);

filter:blur(10px);

box-shadow:

0 0 35px cyan,

0 0 90px cyan;

animation:ringPulse 2s infinite;

}
@keyframes floatBot{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-14px);

}

}

@keyframes beamPulse{

0%,100%{

opacity:.65;

}

50%{

opacity:1;

}

}

@keyframes pulseBox{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.03);

}

}

@keyframes ringPulse{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.08);

}

}