/*==========================================
    ROBOT CONTAINER
==========================================*/

.robot-container{

    position:relative;

    width:450px;
    height:750px;

    margin:auto;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:visible;

}


/*==========================================
    COMMON PARTS
==========================================*/

.robot-part{

    position:absolute;

    width:450px;
    height:auto;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    user-select:none;
    pointer-events:none;

}


/*==========================================
    LAYER ORDER
==========================================*/

.shadow{
    z-index:1;
}

.left-wing{
    z-index:2;
}

.right-wing{
    z-index:2;
}

.left-foot{
    z-index:3;
}

.right-foot{
    z-index:3;
}

.body{
    z-index:4;
}

.left-arm{
    z-index:5;
}

.right-arm{
    z-index:5;
}

.left-hand{
    z-index:6;
}

.right-hand{
    z-index:6;
}

.head{
    z-index:7;
}

.left-eye{
    z-index:8;
}

.right-eye{
    z-index:8;
}

.smile{
    z-index:9;
}

.halo{
    z-index:10;
}